In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
!ls "/content/drive/My Drive"

 Classroom	    finaldata.csv	   input11.csv	   'robo (2).csv'
'Colab Notebooks'  'Getting started.pdf'   inputdata.csv    Test.csv
 data2.csv	    inpdatamod.csv	   inputmod22.csv   Train.csv
 finaldata2.csv     inpdatann.csv	   modinput11.csv

In [0]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.metrics import mean_squared_error

In [0]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [0]:
Train_data=pd.read_csv("/content/drive/My Drive/Train.csv")
Test_data=pd.read_csv("/content/drive/My Drive/Test.csv")

In [0]:
Test_data["is_holiday"]=np.where(Test_data["is_holiday"]==None,1,0)
Train_data["is_holiday"]=np.where(Train_data["is_holiday"]==None,1,0)

In [0]:
labelencoder = LabelEncoder()
Train_data["weather_type"]= labelencoder.fit_transform(Train_data["weather_type"])
Train_data["weather_description"]= labelencoder.fit_transform(Train_data["weather_description"])
Test_data["weather_type"]= labelencoder.fit_transform(Test_data["weather_type"])
Test_data["weather_description"]= labelencoder.fit_transform(Test_data["weather_description"])

In [0]:
def StandardScal_r(l):
    score=(l-np.mean(l))/np.std(l)
    return score

In [0]:
l=["air_pollution_index","humidity","wind_direction","temperature","clouds_all","weather_description","traffic_volume"]

In [0]:
l1=["air_pollution_index","humidity","wind_direction","temperature","clouds_all","weather_description"]

In [0]:
denorm=Train_data["traffic_volume"]

In [0]:
for i in l:
  Train_data[i]=StandardScal_r(Train_data[i])
for i in l1:
  Test_data[i]=StandardScal_r(Test_data[i])

In [0]:
Train_data=Train_data.drop(['date_time'], axis=1)
Test_data=Test_data.drop(['date_time'], axis=1)

In [0]:
y=Train_data["traffic_volume"]
X=Train_data.drop(["traffic_volume"], axis=1)

In [0]:
def DeStandardise(l):
    l=(l*np.std(denorm))+np.mean(denorm)
    return l

In [0]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.4,random_state=0)

In [0]:
from keras.models import Sequential
from keras.layers import Dense, Activation,Dropout
from keras.layers import Input

In [0]:
X_train=X_train.values
y_train=y_train.values
input_shape = X_train[0].shape

In [0]:
model=Sequential()
model.add(Dense(13,activation='relu',input_shape=input_shape))
model.add(Dense(16,activation='relu'))
model.add(Dense(16,activation='relu'))
model.add(Dense(1,activation='sigmoid'))
model.compile(optimizer='rmsprop',loss='mean_squared_error')

In [0]:
model.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
20250/20250 [==============================] - 3s 141us/step - loss: 0.9979
Epoch 2/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9862
Epoch 3/100
20250/20250 [==============================] - 2s 88us/step - loss: 0.9802
Epoch 4/100
20250/20250 [==============================] - 2s 87us/step - loss: 0.9770
Epoch 5/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9745
Epoch 6/100
20250/20250 [==============================] - 2s 88us/step - loss: 0.9736
Epoch 7/100
20250/20250 [==============================] - 2s 87us/step - loss: 0.9726
Epoch 8/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9717
Epoch 9/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9710
Epoch 10/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9708
Epoch 11/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9710
Epoch 12/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9701
Epoch 13/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9698
Epoch 14/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9697
Epoch 15/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9690
Epoch 16/100
20250/20250 [==============================] - 2s 87us/step - loss: 0.9683
Epoch 17/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9685
Epoch 18/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9681
Epoch 19/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9682
Epoch 20/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9679
Epoch 21/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9671
Epoch 22/100
20250/20250 [==============================] - 2s 87us/step - loss: 0.9670
Epoch 23/100
20250/20250 [==============================] - 2s 87us/step - loss: 0.9668
Epoch 24/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9666
Epoch 25/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9661
Epoch 26/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9660
Epoch 27/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9657
Epoch 28/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9660
Epoch 29/100
20250/20250 [==============================] - 2s 84us/step - loss: 0.9653
Epoch 30/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9651
Epoch 31/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9647
Epoch 32/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9646
Epoch 33/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9647
Epoch 34/100
20250/20250 [==============================] - 2s 87us/step - loss: 0.9644
Epoch 35/100
20250/20250 [==============================] - 2s 84us/step - loss: 0.9644
Epoch 36/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9641
Epoch 37/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9639
Epoch 38/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9638
Epoch 39/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9639
Epoch 40/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9634
Epoch 41/100
20250/20250 [==============================] - 2s 88us/step - loss: 0.9632
Epoch 42/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9626
Epoch 43/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9623
Epoch 44/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9613
Epoch 45/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9622
Epoch 46/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9615
Epoch 47/100
20250/20250 [==============================] - 2s 88us/step - loss: 0.9619
Epoch 48/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9613
Epoch 49/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9610
Epoch 50/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9605
Epoch 51/100
20250/20250 [==============================] - 2s 87us/step - loss: 0.9606
Epoch 52/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9603
Epoch 53/100
20250/20250 [==============================] - 2s 88us/step - loss: 0.9602
Epoch 54/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9595
Epoch 55/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9591
Epoch 56/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9595
Epoch 57/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9592
Epoch 58/100
20250/20250 [==============================] - 2s 84us/step - loss: 0.9594
Epoch 59/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9588
Epoch 60/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9589
Epoch 61/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9588
Epoch 62/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9581
Epoch 63/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9576
Epoch 64/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9580
Epoch 65/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9576
Epoch 66/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9582
Epoch 67/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9578
Epoch 68/100
20250/20250 [==============================] - 2s 84us/step - loss: 0.9575
Epoch 69/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9581
Epoch 70/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9579
Epoch 71/100
20250/20250 [==============================] - 2s 84us/step - loss: 0.9577
Epoch 72/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9571
Epoch 73/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9569
Epoch 74/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9572
Epoch 75/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9567
Epoch 76/100
20250/20250 [==============================] - 2s 89us/step - loss: 0.9570
Epoch 77/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9566
Epoch 78/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9561
Epoch 79/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9562
Epoch 80/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9563
Epoch 81/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9556
Epoch 82/100
20250/20250 [==============================] - 2s 87us/step - loss: 0.9557
Epoch 83/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9562
Epoch 84/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9565
Epoch 85/100
20250/20250 [==============================] - 2s 86us/step - loss: 0.9553
Epoch 86/100
20250/20250 [==============================] - 2s 87us/step - loss: 0.9561
Epoch 87/100
20250/20250 [==============================] - 2s 94us/step - loss: 0.9559
Epoch 88/100
20250/20250 [==============================] - 2s 91us/step - loss: 0.9558
Epoch 89/100
20250/20250 [==============================] - 2s 93us/step - loss: 0.9556
Epoch 90/100
20250/20250 [==============================] - 2s 90us/step - loss: 0.9553
Epoch 91/100
20250/20250 [==============================] - 2s 90us/step - loss: 0.9543
Epoch 92/100
20250/20250 [==============================] - 2s 92us/step - loss: 0.9547
Epoch 93/100
20250/20250 [==============================] - 2s 88us/step - loss: 0.9548
Epoch 94/100
20250/20250 [==============================] - 2s 88us/step - loss: 0.9549
Epoch 95/100
20250/20250 [==============================] - 2s 87us/step - loss: 0.9548
Epoch 96/100
20250/20250 [==============================] - 2s 84us/step - loss: 0.9540
Epoch 97/100
20250/20250 [==============================] - 2s 84us/step - loss: 0.9540
Epoch 98/100
20250/20250 [==============================] - 2s 85us/step - loss: 0.9544
Epoch 99/100
20250/20250 [==============================] - 2s 84us/step - loss: 0.9543
Epoch 100/100
20250/20250 [==============================] - 2s 84us/step - loss: 0.9542

In [0]:
import math

In [0]:
pred=model.predict(X_test)
math.sqrt(mean_squared_error(y_test,pred))

0.9897554992498199

In [0]:
def model_new(l):
  model=Sequential()
  model.add(Dense(13,activation='relu',input_shape=input_shape))
  model.add(Dense(8,activation='relu'))
  model.add(Dense(8,activation='relu'))
  model.add(Dense(1,activation='sigmoid'))
  model.compile(optimizer='rmsprop',loss='mean_squared_error')
  model.fit(X_train, y_train, batch_size = l, epochs = 4)
  pred=model.predict(X_test)
  msq=mean_squared_error(y_test,pred)
  return msq

In [0]:
l_new=[32,64,128]
for i in l_new:
  l=[]
  msq=model_new(i)
  l.append(msq)
#Required RMSE 
print(min(l))

Epoch 1/4
20250/20250 [==============================] - 3s 139us/step - loss: 1.0013
Epoch 2/4
20250/20250 [==============================] - 2s 83us/step - loss: 0.9892
Epoch 3/4
20250/20250 [==============================] - 2s 84us/step - loss: 0.9817
Epoch 4/4
20250/20250 [==============================] - 2s 84us/step - loss: 0.9789
Epoch 1/4
20250/20250 [==============================] - 2s 83us/step - loss: 1.0780
Epoch 2/4
20250/20250 [==============================] - 1s 44us/step - loss: 0.9951
Epoch 3/4
20250/20250 [==============================] - 1s 43us/step - loss: 0.9892
Epoch 4/4
20250/20250 [==============================] - 1s 44us/step - loss: 0.9833
Epoch 1/4
20250/20250 [==============================] - 1s 64us/step - loss: 1.0185
Epoch 2/4
20250/20250 [==============================] - 0s 22us/step - loss: 0.9961
Epoch 3/4
20250/20250 [==============================] - 0s 23us/step - loss: 0.9926
Epoch 4/4
20250/20250 [==============================] - 0s 22us/step - loss: 0.9875

In [0]:
print(l)

[0.9897012040664966]

In [0]:
from sklearn.linear_model import LinearRegression

In [0]:
lr=LinearRegression()
lr.fit(X_train,y_train)
pred1=lr.predict(X_test)

In [0]:
mean_squared_error(y_test,pred1)

0.9794001141557288

In [0]:
print(DeStandardise(pred1))

[2621.17225664 2760.83867972 3687.96057012 ... 3068.70717107 3518.57586808
 3472.99197195]

In [0]:
xtest=Test_data.values

In [0]:
nnpred=model.predict(xtest)

In [0]:
Traffic_volume=pd.DataFrame(DeStandardise(nnpred))

In [0]:
Traffic_volume

                 0
0      3327.132568
1      3242.933838
2      3360.606445
3      3424.158447
4      3251.187256
5      3520.203613
6      4146.842285
7      3497.747559
8      3265.402832
9      3964.506104
10     3393.229492
11     3240.290771
12     3242.162354
13     3705.631104
14     3240.444824
15     3379.899170
16     3246.791260
17     3240.598877
18     3244.557373
19     3240.138672
20     3249.789551
21     3240.170654
22     3487.770020
23     3693.000977
24     3430.110352
25     3659.755371
26     3366.590820
27     3289.989990
28     3322.624756
29     3608.826172
...            ...
14424  3739.964355
14425  3253.824219
14426  3267.881592
14427  4314.600586
14428  3502.259766
14429  3573.029541
14430  3287.663330
14431  3240.150879
14432  3291.301025
14433  3241.583008
14434  3254.570068
14435  3250.351562
14436  3240.122314
14437  3881.928223
14438  3240.118164
14439  3240.346191
14440  3240.118164
14441  3241.489746
14442  3418.348389
14443  3359.536377
14444  3240.353027
14445  3241.702637
14446  3303.542236
14447  3240.118164
14448  3241.406982
14449  3240.118164
14450  3286.160889
14451  3240.124512
14452  3243.109863
14453  3252.014160

[14454 rows x 1 columns]

In [0]:
xx=pd.read_csv("/content/drive/My Drive/Test.csv")

In [0]:
Dataset=pd.DataFrame(xx['date_time'])

In [0]:
dataframe=pd.concat([Dataset,Traffic_volume],axis=1)
dataframe.columns=["date_time","traffic_volume"]

In [0]:
dataframe

                 date_time  traffic_volume
0      2017-05-18 00:00:00     3327.132568
1      2017-05-18 00:00:00     3242.933838
2      2017-05-18 00:00:00     3360.606445
3      2017-05-18 01:00:00     3424.158447
4      2017-05-18 01:00:00     3251.187256
5      2017-05-18 02:00:00     3520.203613
6      2017-05-18 02:00:00     4146.842285
7      2017-05-18 02:00:00     3497.747559
8      2017-05-18 03:00:00     3265.402832
9      2017-05-18 03:00:00     3964.506104
10     2017-05-18 03:00:00     3393.229492
11     2017-05-18 04:00:00     3240.290771
12     2017-05-18 04:00:00     3242.162354
13     2017-05-18 04:00:00     3705.631104
14     2017-05-18 05:00:00     3240.444824
15     2017-05-18 05:00:00     3379.899170
16     2017-05-18 05:00:00     3246.791260
17     2017-05-18 06:00:00     3240.598877
18     2017-05-18 06:00:00     3244.557373
19     2017-05-18 07:00:00     3240.138672
20     2017-05-18 07:00:00     3249.789551
21     2017-05-18 08:00:00     3240.170654
22     2017-05-18 08:00:00     3487.770020
23     2017-05-18 08:00:00     3693.000977
24     2017-05-18 09:00:00     3430.110352
25     2017-05-18 09:00:00     3659.755371
26     2017-05-18 09:00:00     3366.590820
27     2017-05-18 10:00:00     3289.989990
28     2017-05-18 10:00:00     3322.624756
29     2017-05-18 11:00:00     3608.826172
...                    ...             ...
14424  2018-09-29 20:00:00     3739.964355
14425  2018-09-29 21:00:00     3253.824219
14426  2018-09-29 22:00:00     3267.881592
14427  2018-09-29 23:00:00     4314.600586
14428  2018-09-30 00:00:00     3502.259766
14429  2018-09-30 01:00:00     3573.029541
14430  2018-09-30 02:00:00     3287.663330
14431  2018-09-30 03:00:00     3240.150879
14432  2018-09-30 04:00:00     3291.301025
14433  2018-09-30 05:00:00     3241.583008
14434  2018-09-30 06:00:00     3254.570068
14435  2018-09-30 07:00:00     3250.351562
14436  2018-09-30 08:00:00     3240.122314
14437  2018-09-30 09:00:00     3881.928223
14438  2018-09-30 10:00:00     3240.118164
14439  2018-09-30 11:00:00     3240.346191
14440  2018-09-30 12:00:00     3240.118164
14441  2018-09-30 13:00:00     3241.489746
14442  2018-09-30 14:00:00     3418.348389
14443  2018-09-30 14:00:00     3359.536377
14444  2018-09-30 15:00:00     3240.353027
14445  2018-09-30 15:00:00     3241.702637
14446  2018-09-30 16:00:00     3303.542236
14447  2018-09-30 17:00:00     3240.118164
14448  2018-09-30 18:00:00     3241.406982
14449  2018-09-30 19:00:00     3240.118164
14450  2018-09-30 20:00:00     3286.160889
14451  2018-09-30 21:00:00     3240.124512
14452  2018-09-30 22:00:00     3243.109863
14453  2018-09-30 23:00:00     3252.014160

[14454 rows x 2 columns]

In [0]:
dataframe.to_csv(r'/content/drive/My Drive/modinput11.csv', index=False)